<header class="home-header">
    <div class="home-left">
        <img src="./logo2.png" alt="library logo">
    </div>
    <div class="home-right">
        <a href="/">Home</a>
        <a href="/library">Library</a>
        <a href="">Contacts</a>
    </div>
</header>