<header class="home-header">
    <div class="home-left">
        <p>MAI</p>
        <p>LAWD</p>
    </div>
    <div class="home-right">
        <!-- <select name="" id="">
            <option value="">MENU</option>
            <option value="/"><a href="/">Home</a></option>
            <option value=""><a href="/library">Library</a></option>
            <option value=""><a href="">contacts</a></option>
        </select> -->
        <a href="/">Home</a>
        <a href="/library">Library</a>
        <a href="">Contacts</a>
    </div>
</header>