<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="main-body-top"></div>
    <header class="home-header">
        <div class="home-left">
            <p>MAI</p>
            <p>LAWD</p>
        </div>
        <div class="home-right">
            <a href="">Library</a>
            <a href="">About us</a>
            <a href="">Contacts</a>
        </div>
    </header>
    <hr>
    <div class="main-body">
        <div class="main-body-bottom">
            <p>
                <p>Congratulations, you can become the new manager</p>
                <p>of MAI LAWD online library. If interested, press</p>
                <p>the button below to start managing</p>
            </p>
            <a href="/library">GO TO LIBRARY <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>