<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="main-body-top"></div>
    <%- include('./partials/header.ejs')%>
    <hr>
    <div class="main-body">
        <div class="main-body-bottom">
            <p>
                Effortlessly handle book lending, member sign-ups,
                and inventory tracking with our state-of-the-art platform.
                As a librarian, you wield the power to shape reading experiences
                and foster community engagement. With BookMaster, elevate your library
                management to new heights.
            </p>
            <a href="/library">GO TO LIBRARY <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>