* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Verdana;
    -webkit-user-select: none;
    user-select: none;
}
body {
    height:100vh;
    width:100vw;
    overflow:hidden;
}
/* home styles */
.main-body-top {
    height:100vh;
    width:100vw;
    position:absolute;
    background-image: url(./pexels-huỳnh-đạt-2177482.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:-1;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
header {
    padding:10px;
    padding-bottom:20px;
    height:10vh;
    display:flex;
    justify-content:space-between;
    background-color: teal;
}
header .home-left p:first-of-type {
    background-color: orangered;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 32%;
    padding:4px 7px;
    font-weight: 800;
}
.home-left p:last-of-type {
    margin-left:20px;
    background-color: rgb(29, 30, 32);
    padding:4px 7px;
    color:white;
}
.home-right {
    width:300px;
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.home-right a {
    text-decoration:none;
    color:rgb(204, 240, 255);
    padding:7px 10px;
    border-radius:10px;
    font-weight:800;
}
.home-right a:hover {
    background-color: rgb(189, 229, 245);
    color:darkslategrey;
    border:none;
}
.main-body {
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(
        transparent 0%,
        black 100%
    );
    opacity:.9;
}

.main-body-bottom {
    height:40vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    margin-bottom:10vh;
}
.main-body-bottom p {
    width:100vw;
    z-index: 2;
    text-align: center;
    font-size:25px;
    color:white;
    font-weight: 900;
}
.main-body-bottom a {
    z-index: 2;
    margin-top:20px;
    padding:10px 20px;
    border-radius:20px;
    text-decoration:none;
    color:white;
    font-weight:800;
    background-color: orangered;
}
.main-body-bottom a .fa-solid {
    color:black;
    font-size:20px;
    margin-left:10px;
}

/* library styles */
.library-body {
    display:flex;
    height:inherit;
    width:inherit;
}
.library-left {
    width:8vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    position:sticky;
    top:0;
    background-color: #E7E9EB;
}
.library-left a {
    height:15vh;
    text-decoration:none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: #282A35;
}
.library-left a:hover {
    background-color: #04AA6D;
    color:white;
}
.library-left a:focus {
    background-color: #04AA6D;
    color:white;
}
.library-left a .fa-solid {
    font-size:25px;
    color: #282A35;
}
.library-right {
    width:92vw;
    height:100%;
    overflow:hidden;
}
.library-right #library-books {
    height:inherit;
    overflow-y:scroll;
    overflow-x: hidden;
    width:97vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    padding:20px;
}
.library-right #library-add ,#library-regist{
    height:inherit;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#282A35;
}
#library-add form, #library-regist form {
    display: flex;
    background-color: #E7E9EB;
    flex-direction:column;
    width:500px;
    height:max-content;
    padding:20px;
    border-radius: 10px;
    gap:20px;
}
#library-add form input ,#library-regist form input{
    height:5vh;
    width:300px;
    color:#A52A2A;
    border:none;
    border-left:3px solid #04AA6D;
    font-size:1.2rem;
}
#library-add form input:focus, #library-regist form input:focus {
    outline:none;
}
#library-add form label , #library-regist form label{
    width:300px;
    font-size:1.2rem;
    display:flex;
    justify-content:space-between;
}
#library-add form  button, #library-regist form button{
    width:100px;
    height:5vh;
    background-color: #04AA6D;
    color:white;
    border:none;
    border-radius: 5px;
}
#library-books a {
    width:200px;
    height:30vh;
    text-decoration:none;
    background-color: #E7E9EB;
    color:#afafaf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#library-books a:hover {
    background-color: rgb(206, 201, 201);
    opacity:.7;
}

#library-books a .book {
    height:95%;
    width:95%;
    margin:0;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    background-color: #fff;
}

.book div .fa-solid{
    font-size: 40px;
    color: #282A35;
}
.book p {
    margin-left:2px;
    height:5vh;
    text-align: center;
    color: #A52A2A;
    font-size:1.2rem;
}
#library-regist {
    height:inherit;
    background-color:#282A35;
    border-bottom:1px ridge;
}
.regist-body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
    background-color: orangered;
}
.regist-body div {
    height:50%;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}
#library-users {
    height:inherit;
    width:inherit;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#library-users h2 {
    text-align:center;
    height:5vh;
}
#library-users input {
    height:5vh;
    width:200px;
    margin:0 auto;
    border-radius: 10px;
    padding-left:5px;
}
#library-users .library-users-div {
    padding:10px;
    border:1px solid;
    height:80vh;
    overflow-y:scroll;
    display:grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap:10px;
    align-content: first baseline;
}
#library-users div a {
    height:5vh;
    text-decoration:none;
    background-color: #E7E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #282A35;
    font-weight:800;
}

.user-body {
    height:90vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x:hidden;
}
.user-body .card {
    height:500px;
    width:700px;
    border-radius:20px;
    background-color:#282A35;
}
.user-top {
    height:250px;
    display:flex;
}
.user-image {
    width:40%;
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fa-user {
    font-size:200px;
    color: #fff;
} 
.user-right {
    width:60%;
    height:inherit;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-right div {
    height:5vh;
    display: flex;
    justify-content: space-between;
    padding:0 5px;
}
.user-right div p {
    color: #fff;
    width:40%;
    min-width: min-content;
    font-weight:800;
    border:1px solid #A52A2A;
    padding:5px 0;
    border-radius: 5px;
}
#check, .btn1, .btn2, .library-left-top {
    display:none;
}


@media screen and (max-width:800px) {
    header {
        overflow-x:hidden;
    }
    body {
        overflow:hidden;
    }
    #home-link {
        display:none;
    }
    #check {
    
        position:absolute;
    }
    .btn1 {
        display:initial;
        position:absolute;
        top:11vh;
        left:10px;
        cursor: pointer;
    }
    .btn1 .fa-solid {
        font-size:25px;
    }
    .btn2 {
        display:initial;
        position:absolute;
        left:150px;
        top:17px;
    }

    .library-left {
        width:200px;
        height:90vh;
        position:absolute;
        left:-200px;
        top:10vh;
    }
    .library-left label {
        cursor:pointer;
    }
    .library-left .btn1 .fa-solid:hover {
        background-color:#E7E9EB;
        padding:5px;
        border-radius: 50%;
    }

    .library-left-top {
        display:initial;
        position:absolute;
        width:200px;
        height:7vh;
    }
    .library-left-bottom {
        position:absolute;
        top:7vh;
        width:200px;
        height:max-content;
    }
    .library-left-top a {
        display: initial;
        position:absolute;
        left:2%;
        top:14px;
        font-size:24px;
    }
    #check:checked ~ .library-left {
        left:0px;
    }
    #check:checked ~ .btn1 {
        opacity:0;
    }
    .home-left p {
        font-size:0.9rem;
    }
    .home-right {
        width:200px;
        padding-right:20px;
    }
    .home-right a {
        font-size:0.8rem;
    }
    .home-right select {
        background-color: orangered;
        width:min-content;
    }
    .main-body-bottom p {
        font-size:1.0rem;
    }

    .library-right {
        width:100vw;
        height: 98vh;
        padding-top:20px;
    }
    .library-left a {
        flex-direction: row;
        justify-content: flex-start;
        padding-left:5px;
        height:6vh;
        gap:15px;
        overflow-x:hidden;
    }
    .library-left a:hover {
        width:200px;
    }
    .library-left-top a:hover {
        background-color: initial;
    }
    .library-left a p:hover {
        visibility: initial;
    }
    .library-right #library-books {
        width:100vw;
        overflow-x:hidden;
    }
    #library-books a {
        width:150px;
        margin:0;
        height:20vh;
        border:1px solid;
        border:1px solid;
    }
    #library-books a * {
        font-size: 17px;
    }
    .library-right #library-add, #library-regist {
        padding-top:10vh;
        justify-content:flex-start;
    }
    #library-add form, #library-regist form {
        width:85vw;
    }
    #library-add form input, #library-regist form input {
        height:4vh;
        width:75vw;
        font-size:1.1rem;
    }
    #library-add form  button, #library-regist form button{
        margin:0 auto;
    }

    .regist-body div {
        height:20%;
    }
    .regist-body div * {
        font-size:0.9rem;
        text-align: center;
        padding:0 10px;
    }

    .user-body .card {
        height:max-content;
        width:95vw;
    }
    .user-top {
        height:max-content;
        flex-direction: column;
    }
    .user-image {
        width:20%;
    }
    .fa-user {
        font-size:100px;
        color: #fff;
    } 
    .user-right {
        width:100%;
        height:inherit;
    }
    .user-right div p {
        width:45%;
        font-size:0.9rem;
    }
}
@media screen and (max-width:400px) {
    .home-right {
        width:180px;
        padding-right:10px;
    }
    .home-right a {
        font-size:0.6rem;
    }
    .home-left p {
        font-size:0.7rem;
    }
    .library-left a .fa-solid {
        font-size:20px;
    }
    #library-books a {
        width:150px;
    }
    #library-books a div * {
        font-size:0.9rem;
    }
    .library-right #library-add, #library-regist {
        padding-top:10vh;
        justify-content:flex-start;
    }
    #library-add form input, #library-regist form input {
        height:3vh;
        width:70vw;
        font-size:0.9rem;
    }
    #library-add form label , #library-regist form label{
        width:300px;
        font-size:0.9rem;
        display:flex;
        justify-content:space-between;
    }

}

